@media screen and (max-width:1276px){
    .items{
    row-gap: 50px;
    justify-content: space-between;

    }

    .item1{
        width: 400px;
    }

    .img{
        width: 100%;
    }
}

@media screen and (max-width:1038px){
    .mid,.right{
        display: none;
    }
    
    .items{
    row-gap: 50px;
    flex-direction: column;
    justify-content:center;
    }

    .item1{
        width: 600px;
    }

    .img{
        width: 100%;
    }
}

@media screen and (max-width:738px){
    .mid,.right{
        display: none;
    }
    
    .items{
    row-gap: 50px;
    flex-direction: column;
    justify-content:center;
    }

    .item1{
        width: 400px;
    }

    .img{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .mid,.right{
        display: none;
    }
    
    .items{
    row-gap: 50px;
    flex-direction: column;
    justify-content:center;
    }

    .item1{
        width: 200px;
    }

    .img{
        width: 100%;
    }

    .f-img,.col{
        flex-direction: column;
    }

    .sub-footer{
        flex-direction: column;
    }
}